
     <table class= 'table table-borderless'>
        
        <% client.comments.reverse.each do |comment| %>
        <tr>
        <td>
          <%= link_to user_path(comment.user) do %>
           <%= comment.user.last_name %> <%= comment.user.first_name %>
          <% end %>
          <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
        </td>
        </tr>
        
        <tr>
        <td><%= comment.body %></td>
        
         <% if comment.user == current_user %>
         <td><%= link_to '削除', client_comment_path(client, comment), method: :delete, remote: true, class: "btn btn-sm btn-danger" %></td>
         <% end %>
         
        </tr>
        <% end %>
      </table>